
/* simple alert starts */
.alert {
  border: 1px solid transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: var(--font-medium);
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.alert-primary {
  background-color: var(--primary-bg-alert);
}

.alert-secondary {
  background-color: var(--secondary-bg-alert);
}

.alert-success {
  background-color: var(--success-bg-alert);
}

.alert-error {
  background-color: var(--error-bg-alert);
}

/* - alert with icon starts */

.material-icons {
  vertical-align: middle;
  padding: 0 0.5rem;
}

/* alert with close button starts */

.alert-warning {
  background-color: var(--warning-bg-alert);
}
.btn-close {
  background: transparent url(/assets/close-button.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 10;
  outline: none;
  position: absolute;
  top: 15px;
  right: 10px;
}
