/* importing external css */
@import "/Styles/variable.css";
@import "/Styles/lenght.css";
@import "/Styles/typography.css";


/* --------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap");


/* simple alert starts */
.alert{
    
    width: 60%;
    border: 1px solid transparent;
    
   
    font-family: "Open Sans", sans-serif;
    font-weight: var(--font-medium);
    text-align: center;
    border-radius:10px ;
    position: relative;
}

.alert-primary {
    background-color:var(--primary-bg-alert);
    
  }
  
  .alert-secondary {
    background-color: var(--secondary-bg-alert);
  }
  
  .alert-success {
    background-color: var(--success-bg-alert);
  }
  
  .alert-error {
    background-color:var(--error-bg-alert);
  }


  
  /* - alert with icon starts */

  .material-icons{
    
     vertical-align: middle;
     padding: 0 0.3em;
  }

  /* alert with close button starts */

  .alert-warning {
      background-color: var(--warning-bg-alert);
    
  }
  .btn-close{
      background: transparent url(/assets/close-button.svg);
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid transparent;
      cursor: pointer;
      z-index: 10;
      outline: none;
      position: absolute;
      top: 15px;
      right: 10px;
     
  }
  