.icon-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  margin-right: 1rem;
}

.icon-btn-badge {
  position: absolute;
  background-color: var(--badge-bg);
  top: -0.1rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: var(--txt-color-secondary);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.btn-box {
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem 1rem;
  min-width: 10%;
  gap: 1.5rem;
  font-size: 1.1rem;
  border-radius: 10%;
  margin-right: 1.5rem;
  background-color: var(--badge-bg-inbox);
  color: var(--txt-color-secondary);
  font-weight: var(--font-medium);
}

.btn-box-badge {
  border: 1px solid var(--txt-color-secondary);
  color: var(--txt-color-secondary);
  vertical-align: middle;
  border-radius: 45%;
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outlined {
  background-color: transparent;
  color: var(--badge-bg-inbox);
  border: 1px solid var(--badge-bg-inbox);
}

.version {
  background-color: var(--badge-bg-version);
}

.status {
  position: absolute;
  bottom: 3%;
  right: 15%;
  height: 20%;
  width: 20%;
  z-index: 10;
  border-radius: 50%;
}

.online {
  background-color: var(--online-badge);
  border: 5px solid var(--online-badge);
}

.offline {
  background-color: var(--offline-badge);
  border: 5px solid var(--offline-badge);
}
