/* importing external css */
@import "/Styles/variable.css";
@import "/Styles/lenght.css";
@import "/Styles/typography.css";



  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap");
  
  .container {
    border: 1px solid rgba(134, 134, 134, 0.534);
    padding: 0.8em 1em;
    margin: 1em;
    width: 40%;
    font-family: "Open Sans", sans-serif;
  }
  
  .btn {
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1em;
    border-radius: 15px;
    line-height: 1.5;
    /* max-width: 20%; */
    /* height: 100%; */
    display: inline-block;
    /* border: none; */
  }

  .btn-primary, .btn-secondary, .btn-success, .btn-error{
    border: none;
  }
  
  
  .btn-primary {
    background-color: #1b98f5;
  }
  
  .btn-secondary {
    background-color: rgba(168, 184, 185, 0.808);
  }
  
  .btn-success {
    background-color: #6ec72d;
  }
  
  .btn-error {
    background-color: red;
  }
  
  
  
  
  /* outlined button style starts */
  
  .btn-primary-outlined {
    background-color: transparent;
    border-color: var(--primary-bg-alert);
    color: var(--primary-bg-alert);
    


    /* border-color: #1b98f5;
    color: #1b98f5; */
  }
  
  .btn-secondary-outlined {
    background-color: transparent;
    border-color: var(--secondary-bg-alert);
    color: var(--secondary-bg-alert);




    /* border-color: rgba(168, 184, 185, 0.808);
    color: rgba(168, 184, 185, 0.808); */
  }
  
  .btn-success-outlined {
    background-color: transparent;
    border-color: var(--success-bg-alert);
    color: var(--success-bg-alert);

    /* border-color: #6ec72d;
    color: #6ec72d; */
  }
  
  .btn-error-outlined {
    background-color: transparent;
    border-color: var(--error-bg-alert);
    color: var(--error-bg-alert);



    /* border-color: red;
    color: red; */
  }
  
  
  
  
  /* button with icon starts */
  
  .btn-icons-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  
  
  .material-icons {
    font-size: 2em;
  }
  
  
  .btn-icon {
    color: black;
    border: none;
    background-color: transparent;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: hotpink;
    gap: 0.4em;
    
  }


  
  
  
  /* link btn starts here */
  .link-btn{
      color: blue;
      border: var(--general-border-grey);
  }
  
  /* icon btn */
  
  .icon-only{
      margin: auto 0.5em;
      cursor: pointer;
      color: rgb(107, 107, 107);
  }