.card-container {
  width: 35%;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1rem;

  justify-content: space-around;
  align-items: center;
  border-radius: 2rem;
  border: 3px solid grey;
  position: relative;
}

.card-overlay {
  position: absolute;
  inset: 0;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--txt-color-secondary);
}

.card-image {
  width: 100%;
  object-fit: contain;
  height: auto;
}

.card-title {
  font-size: 1rem;
  font-weight: var(--font-bolder);
  padding: 1rem;
  /* display: inline-block; */
}

.card-price {
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  display: inline-block;
  /* padding: 0.3rem; */
}

.card-details {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.btn-card {
  background-color: #000000;
}

.card-rating-box {
  display: flex;
  justify-content: space-between;
  width: 100%;

  align-items: center;
}

.star {
  font-size: 1.2rem;
}

/* h2{
    font-size: 1.3rem;
}
h3{
  line-height: 1.5rem;  
} */

/* .description {
  padding: 0 0.5em;
  margin-bottom: 1rem;
}

button {
  padding: 1em 0.5em;
  margin: 0 0.3rem;
  border: none;
  font-weight: 700;
  color: blueviolet;
  background-color: rgba(173, 216, 230, 0.171);
  cursor: pointer;
}

.action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5em 0.2em;
}

i {
  padding: 0.5em;
  margin: 0 0.1em;
} */
