.input-holder{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.search-icon{
    position: absolute;
}

.search{
    position: relative;
    width: 30%;
    min-height: 100%;
    border: 2px solid black;
}