:root {
  --primary-background-color: #fffbeb;
  --secondary-background-color: #212121;
 --primary-font: "Open Sans", sans-serif;
  --primary-bg-alert: #1b98f5;
  --secondary-bg-alert: #a8b8b9ce;
  --success-bg-alert: #10b981;
  --error-bg-alert: #eb6455;
  --warning-bg-alert: #fed7aa;
  --grid-bg:#add8e6;
  --txt-color-primary: #111827;
  --txt-color-secondary: #ffffff;
  --txt-grey:#999999;
  --list-bg: #a8b8b9ce;;
  --badge-bg-inbox:#4406cb;
  --badge-bg-version: #3d4451;
  --card-container-bg:#ffffff;
  --card-border-color:#808080;
  --card-overlay-color:#0000004d;
  --card-overlay-badge-bg:#e71f1f;
  --card-btn-bg:#000000;
  --card-bottom-border-color:#000000;
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder:900;
  --general-border-transparent: 1px solid transparent;
  --general-border-grey: 1px solid #808080;
  --general-border-white: 5px solid #ffffff;
  --avatar-text-bg:#00ffff;
  --badge-bg:#ff0000c7;
  --online-badge:#008000;
  --offline-badge:#cccccc;
  --btn-bg:#000000;
  --icon-colors:#6b6b6b;
  --input-border:#000000;
  --input-error-border:#ff0000;
  --input-success-border:#008000;
  --dark:#000000;
  --light:#ffffff;
  --link-color:#0000ff;
}
