:root {

 --primary-font: "Open Sans", sans-serif;
  --primary-bg-alert: #1b98f5;
  --secondary-bg-alert: rgba(168, 184, 185, 0.808);
  --success-bg-alert: #10b981;
  ;
  --error-bg-alert: #eb6455;
  /* --primary-bg-alert: rgba(116, 184, 248, 0.911);
  --secondary-bg-alert: rgba(168, 184, 185, 0.808);
  --success-bg-alert: #6dc72dc0;
  --error-bg-alert: #eb6455; */

  --warning-bg-alert: #fed7aa;
  --txt-color-primary: #111827;
  --txt-color-secondary: #ffffff;
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --general-border-transparent: 1px solid transparent;
  --general-border-grey: 1px solid grey;
  --general-border-white: 5px solid #ffffff;
}
