:root {
  --primary-background-color: #fffbeb;
  --secondary-background-color: #212121;
 --primary-font: "Open Sans", sans-serif;
  --primary-bg-alert: #1b98f5;
  --secondary-bg-alert: #a8b8b9ce;
  --success-bg-alert: #10b981;
  --error-bg-alert: #eb6455;
  --warning-bg-alert: #fed7aa;
  --grid-bg:#add8e6;
  --txt-color-primary: #111827;
  --txt-color-secondary: #ffffff;
  --txt-grey:#999999;
  --list-bg: #a8b8b9ce;;
  --badge-bg-inbox:#4406cb;
  --badge-bg-version: #3d4451;
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder:900;
  --general-border-transparent: 1px solid transparent;
  --general-border-grey: 1px solid grey;
  --general-border-white: 5px solid #ffffff;
}
